body {
    font-family: Arial, sans-serif;
    background-image: url(../../../../assets/img/body-background-image.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}


h2 {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

label {
    margin-top: 10px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    background-image: linear-gradient(to right, rgb(193, 43, 206), rgb(33, 143, 217));
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 104%;
}

#message {
    margin-top: 10px;
    color: #28a745;
    font-weight: bold;
}
