* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background-image: url(../../../../assets/img/hero-image.png);
    background-size: cover;
    height: 25rem;

}

nav {

background-image: linear-gradient(to bottom, rgba(0,0,0,.25), rgba(0,0,0,.1)) ;
height: 3rem;
display: flex;
justify-content: space-between;
align-items: center;

}

.logo {

display: flex;
align-items: center;
margin-left: 2.5rem;

}

.logo img {
margin-right: .5rem;
height: 1rem;

}

nav ul {
display: flex;

}

nav ul li {

list-style-type: none;
margin-right: 2.5rem;

}

nav a {

    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9rem;
    text-shadow: 2px 2px 4px black;

}

#login {

    border-style: solid;
    border-color: rgb(136, 0, 199);
    border-width: 2px;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 4rem;
    box-shadow: 3px 3px 6px rgba(0,0,0, .75);

}

#sign-up {
    background-image: linear-gradient(to right, #05DEEB, #DF04E0);
    color: black;
    font-weight: bold;
    text-shadow: none;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 4rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .75);
}